---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  aria-label="Abrir WhatsApp"
  class="fixed bottom-5 right-5 z-50 inline-flex h-14 w-14 items-center justify-center rounded-full bg-green-500 text-white shadow-xl transition hover:scale-105 hover:bg-green-400 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-green-300"
>
  <svg class="h-7 w-7" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true"><path d="M19.11 17.34c-.28-.14-1.63-.8-1.88-.89-.25-.09-.43-.14-.61.14-.18.28-.7.89-.86 1.08-.16.19-.32.21-.6.07-.28-.14-1.16-.43-2.2-1.38-.81-.72-1.36-1.62-1.52-1.9-.16-.28-.02-.43.12-.57.13-.13.28-.32.42-.48.14-.16.18-.28.27-.47.09-.19.05-.35-.02-.49-.07-.14-.61-1.48-.84-2.03-.22-.52-.45-.45-.61-.46h-.52c-.18 0-.47.07-.71.35-.25.28-.95.93-.95 2.27s.97 2.64 1.11 2.82c.14.19 1.9 2.9 4.6 4.07.64.28 1.14.45 1.53.57.64.2 1.22.17 1.68.11.51-.08 1.63-.67 1.86-1.32.23-.65.23-1.21.16-1.32-.07-.1-.25-.16-.53-.3z"></path><path d="M27.38 4.59A15.9 15.9 0 0016.03 0C7.18 0 0 7.18 0 16.03c0 2.83.74 5.6 2.15 8.04L0 32l8.13-2.13a15.95 15.95 0 007.9 2.03h.01C24.89 31.9 32 24.72 32 15.87c0-4.26-1.66-8.27-4.62-11.28zM16.04 29.2h-.01a13.2 13.2 0 01-6.72-1.84l-.48-.29-4.83 1.27 1.29-4.71-.31-.49a13.18 13.18 0 01-2.03-7.1C2.95 8.76 8.78 2.93 16.03 2.93c3.52 0 6.83 1.37 9.31 3.86a13.1 13.1 0 013.84 9.29c0 7.25-5.9 13.12-13.14 13.12z"></path></svg>
</a>
